<app-shared-nav [buttons]="buttons"></app-shared-nav><div class="form-container">
  <div class="row"><div class="col-md-7">
<form (ngSubmit)="addposition()">
    <div >
        <div class="form-group">
          <label for="selectedDivision">Division</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Division</mat-label>
            <mat-select placeholder="Select Division" name="selectedDivision" required [(ngModel)]="selectedDivision">
              <mat-option *ngFor="let division of divisions" [value]="division.divisionId">
                {{ division.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    <div class="form-group">

      <label for="positionName">Position Name</label>
      <input type="text" class="form-control" id="positionName" placeholder="Enter position name" required [(ngModel)]="addPositionRequest.name"name="name" required>
    </div>
    <div class="form-group">
      <label for="positionDescription">Position Description</label>
      <textarea class="form-control" id="positionDescription" rows="1" placeholder="Enter position description" required [(ngModel)]="addPositionRequest.description" name="description" required></textarea>
    </div>
 
      
    <button type="submit" class="btn btn-danger">Save</button>
  </form>
</div>
  <div class="container col-md-3 ml-5" >
    <h6 class="mb-3">
        Position
    </h6>
    <!-- <div class="d-flex justify-content-end">   
    <button class="btn btn-success" routerLink="position/add">Add Position</button>
    </div> -->
<table class="table" *ngIf="positions&& positions.length>0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
           

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let position of positions">
            <td>{{position.positionId}}</td>
            <td>{{position.name}}</td>
            <td>{{position.description}}</td>
         
     

         
            <!-- <td> <a [routerLink]="['/position','edit',position.id]"> 
                View
                </a>
            </td> -->
        </tr>
    </tbody>
</table>
<p *ngIf="!positions || positions.length <= 0">no positions found</p>

</div>
</div>
  </div>