<div class="main-content">
    
    <div class="container-fluid">
        <div class="row">
      
            <div class="card card-profile ">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/profile.jpg"/>
                    </a>
                </div>
                <div class="card-body">
                  <div> <a href=""> Edit profile picture</a></div>
                    <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4> -->
  
                   <div><button type="button" class=" btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration">Personal Information</button>
                   </div> 
                   <div><button type="button" class="btn btn-gray btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/contact">contact</button>
                 </div>     
             <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/job-description">Job description</button>
                  </div>   
                  <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/qualification">Qualification</button>
                   </div>   
                   <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/spouse">Spouse</button>
                  </div>  
                  <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green"routerLink="/employee-registration/training">Training</button>
                   </div> 
  
               
               <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/deposite-authentication">Deposite Authentication</button>
                </div>    
                <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/emergency-contact">Emergency contact</button>
               </div>  
              </div>
            </div>
        </div>
    </div>