<div class="row">
    <div class="col-md-12 ">
      <app-shared-nav [buttons]="buttons"></app-shared-nav>
  </div> 

  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width: 150%;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Employee Table</h4>
    
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Division
                                    </th>
                                    <th>
                                        Branch
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                             IT
                                        </td>
                                        <td>
                                         Development
                                        </td>
                                        <td class="text-primary">
                                     Head
                                        </td>
                                        <td>
                                            <button class="delete-button" >Delete</button>

                                           </td>
                                           <td>
                                            <button class="edit-button">Edit</button>

                                           </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            sirj
                                        </td>
                                        <td>
                                            Finance 
                                        </td>
                                        <td>
                                           payrol
                                        </td>
                                        
                                        <td class="text-primary">
                                          Head
                                        </td>
                                  
                                  
                                        <td>
                                            <button class="delete-button" >Delete</button>

                                           </td>
                                           <td>
                                            <button class="edit-button">Edit</button>

                                           </td>
                                   </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  