


  <app-shared-nav [buttons]="buttons"></app-shared-nav> 
 
 
  <form (ngSubmit)="addSupervisor()"> 
    <div class="row"> 
      
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="selectedEmployee">Employee</label> 
          <mat-form-field class="w-100"> 
            <mat-label>Select Employee</mat-label> 
            <mat-select placeholder="Select Employee" name="selectedEmployee" required [(ngModel)]="selectedEmployee"> 
              <mat-option *ngFor="let employee of employees" [value]="employee.empId"> 
                {{ employee.firstName }}   {{ employee.middleName }}   {{ employee.lastName }} 
              </mat-option> 
            </mat-select> 
          </mat-form-field> 
        </div> 
        </div> 
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="selectedEmployee">Supervisor</label> 
    <mat-form-field class="w-100"> 
      <mat-label>Select Supervisor</mat-label> 
      <mat-select [(ngModel)]="addSupervisorRequest.supervisorLevel" name="supervisorLevel" required> 
        <mat-option value="First Supervisor">First Supervisor</mat-option> 
        <mat-option value="Second Supervisor">Second Supervisor</mat-option> 
      </mat-select> 
    </mat-form-field> 
        </div> 
      </div> 
      
     
     
     
     
    </div> 
    <button type="submit" class="btn btn-sm btn-success">Save</button> 
    </form> 
 
   
    <h6 class="mb-3"> 
        Supervisor 
    </h6> 
    
<table id="example1" class="table table-bordered table-striped" *ngIf="supervisors&& supervisors.length>0"> 
    <thead> 
        <tr> 
            <th>Employee Name</th> 
         
            <th>Level</th> 
            
 
        </tr> 
    </thead> 
    <tbody> 
        <tr *ngFor="let supervisor of supervisors"> 
          <td>{{ getemployeeName(supervisor.empId) }}</td>
            <td>{{supervisor.supervisorLevel}}</td>
         
            <td>   
              <button  class="btn btn-sm btn-danger" (click)="deleteSupervisor(supervisor.id)">Delete</button>
          </td> 
       
        </tr> 
    </tbody> 
</table> 
<p *ngIf="!supervisors || supervisors.length <= 0">no supervisors found</p>