
<app-shared-nav [buttons]="buttons"></app-shared-nav>
<div class="form-container">
<form (ngSubmit)="addGrade()">
  <div class="col-md-6">
    <div class="form-group">
      <label for="selectedPosition">Position</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Position</mat-label>
        <mat-select placeholder="Select Position" name="selectedPosition" required [(ngModel)]="selectedPosition">
          <mat-option *ngFor="let position of positions" [value]="position.positionId">
            {{ position.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
    <div class="form-group">
      <label for="gradeDescription">Grade Description</label>
      <textarea class="form-control" id="gradeDescription" rows="1" placeholder="Enter Grade description"  [(ngModel)]="addGradeRequest.description"  name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Save Grade</button>
  </form>
  </div>