


<app-shared-nav [buttons]="buttons"></app-shared-nav> 
 
   
  <form (ngSubmit)="addGrade()"> 
    <div class="row"> 
      
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="selectedPosition">Position</label> 
          <mat-form-field  class="w-100"> 
            <mat-label>Select Position</mat-label> 
            <mat-select placeholder="Select Position" name="selectedPosition" required [(ngModel)]="selectedPosition"> 
              <mat-option *ngFor="let position of positions" [value]="position.positionId"> 
                {{ position.description }} 
              </mat-option> 
            </mat-select> 
          </mat-form-field> 
        </div> 
        </div> 
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="gradeDescription">Grade Description</label> 
          <textarea class="form-control" id="gradeDescription" rows="1" placeholder="Enter Grade description"  [(ngModel)]="addGradeRequest.description"  name="description" required></textarea> 
        </div> 
      </div> 
    </div> 
    <button type="submit" class="btn btn-success">Save</button> 
    </form> 
  
    <h6 class="mb-3"> 
     Grade 
    </h6> 
    <!-- <div class="d-flex justify-content-end">    
    <button class="btn btn-success" routerLink="position/add">Add Position</button> 
    </div> --> 
<table class="table" id="example1" class="table table-bordered table-striped" *ngIf="grades&& grades.length>0"> 
    <thead> 
        <tr> 
            <th>ID</th> 
            <th>Description</th> 
            
 
        </tr> 
    </thead> 
    <tbody> 
        <tr *ngFor="let grade of grades"> 
          <td>{{ getPositionName(grade.positionId) }}</td>
       
          <td>{{grade.description}}</td>
         
        </tr> 
    </tbody> 
</table> 
<p *ngIf="!grades || grades.length <= 0">no grades found</p>