<div class="row">
  <div class="col-md-12 ">
    <app-shared-nav [buttons]="buttons"></app-shared-nav>
</div> 
  <div class="col-md-3">
    <app-min-nav></app-min-nav>
  </div>

          <div class="col-md-8">
            <div class="card mt-5 mb-5">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Edit Qualification</h4>
                    <p class="card-category">Complete your  Qualification</p>
                </div>
                <div class="card-body">
                    <form>
                      <div><p>Education</p></div>
                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Institution Name" type="text" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Start Date" type="text">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="End Date" type="text">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Field Of Study" type="text">
                              </mat-form-field>
                            </div>
                        </div>
                
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Education Level" type="text">
                              </mat-form-field>
                            </div>
              
                        
                        <button class="btn btn-sm btn-success">ADD Education</button>
                       
                        <div>Work Experiance</div>

                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Company Name" type="text" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Position Name" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Salary Amount" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Reason" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Start Date" type="text">
                            </mat-form-field>
                          </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Ende Date" type="text">
                        </mat-form-field>
                      </div>
                      <button class="btn btn-sm btn-success">ADD Experiance</button>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">save contact </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
     
    </div>
</div>

