


<app-shared-nav [buttons]="buttons"></app-shared-nav> 
 
 
  <form (ngSubmit)="addstep()"> 
    <div class="row"> 
      
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="selectedGrade">Grade Level</label> 
          <mat-form-field class="w-100"> 
            <mat-label>Select Grade Level</mat-label> 
            <mat-select placeholder="Select Grade Level" name="selectedGrade" required [(ngModel)]="selectedGrade"> 
              <mat-option *ngFor="let grade of grades" [value]="grade.levelId"> 
                {{ grade.description }} 
              </mat-option> 
            </mat-select> 
          </mat-form-field> 
        </div> 
        </div> 
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="stepDescription">Step Description</label> 
          <textarea class="form-control" id="stepDescription" rows="1" required placeholder="Enter step description"  name="description" [(ngModel)]="addStepRequest.description" name="description" required></textarea> 
        </div> 
      </div> 
      <div class="col-4"> 
        <div class="form-group"> 
          <label for="Salary">Salary</label> 
          <input type="text" class="form-control" id="salary" required placeholder="Enter Salary"  name="name" [(ngModel)]="addStepRequest.salary" name="salary" required> 
        </div> 
      </div> 
     
     
     
     
    </div> 
    <button type="submit" class="btn btn-success">Save</button> 
    </form> 
 
    
    <h6 class="mb-3"> 
        Step 
    </h6> 
    
 
 
   
<table id="example1" class="table table-bordered table-striped"> 
  <thead> 
  <tr> 
    <th>Grade Level</th>
    <th>Description</th>
     <th>Salary</th>
    
  </tr> 
  </thead> 
   <tbody> 
    <tr *ngFor="let step of steps"> 
      <td>{{ getGradeName(step.levelId) }} </td>
      <td>{{step.description}}</td>
      <td>{{step.salary}}</td>
    
 
 
    
      <!-- <td> <a [routerLink]="['/step','edit',step.id]">  
          View 
          </a> 
      </td> --> 
  </tr> 
    </tbody> 
</table> 
 
<p *ngIf="!steps || steps.length <= 0">no steps found</p>